@import url("https://fonts.googleapis.com/css?family=Yantramanav:100,300");

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-seif";
}

body {
  background: #3952a3;
  min-height: 100vh;
  width: 100%;
}

/* Navbar styles */

.navbar {
  /* background-image: linear-gradient(90deg, rgba(24, 31, 247, 1) 0%, rgba(255, 182, 122, 1) 84%); */
  background-image: linear-gradient(90deg, rgba(255, 182, 122, 1) 0%, rgba(24, 31, 247, 1) 84%);
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.nav-item:hover {
  background: #f6b93b;
  transition: all 1.5s ease 0s;
  border-radius: 20px;
  color: #fff;
}

.carousel-item {
  height: 950px;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #ffffff;
}
/* Navbar styles */

/*Hamburger menu*/
#toggler,
label {
  display: none;
}

/*Kontak bagian*/
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #c3c9dd;
  border-top-left-radius: 0; /* Ubah dari 4px menjadi 0 */
  border-top-right-radius: 0; /* Ubah dari 4px menjadi 0 */
  padding: 20px; /* Sesuaikan padding agar terlihat lebih lapang */
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #dcdfea;
  border-bottom-left-radius: 0; /* Ubah dari 4px menjadi 0 */
  border-bottom-right-radius: 0; /* Ubah dari 4px menjadi 0 */
  width: 100%; /* Sesuaikan lebar dengan layar kecil */
  padding: 20px; /* Sesuaikan padding agar terlihat lebih lapang */
}

.contact form {
  display: grid;
  grid-template-columns: 1fr; /* Ubah menjadi satu kolom untuk layar kecil */
  grid-gap: 10px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr; /* Menggunakan satu kolom untuk semua perangkat */
  grid-gap: 10px;
}

.contact form label {
  display: block;
  text-align: left; /* Mengatur teks label ke kanan */
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627edc;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627edc;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #f6b93b;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.buttonmaps {
  width: auto; /* Sesuaikan lebar dengan isi tombol */
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #2781ff;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 14px auto; /* Atur margin agar tombol berada di tengah */
  cursor: pointer;
  transition: all 0.3s ease; /* Sesuaikan kecepatan transisi */
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px; /* Mengatur posisi di sebelah kanan */
  z-index: 99; /* Mengatur z-index agar tombol muncul di atas konten */
  background-color: rgba(24, 31, 247, 1);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

.contp {
  text-decoration: none;
  color: black;
}

.contp:hover {
  background-color: #2781ff;
  border-radius: 5px;
}

.btnWhatsApp,
.btnWhatsApps {
  background-color: transparent;
  border: none;
  text-align: start;
  color: black;
}

#myBtn:hover {
  background-color: #ffa127;
}

/*Footer*/
.footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(255, 176, 41, 1) 0%, rgb(45, 115, 255) 62%);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* Media queries for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  /* Navbar styles */

  .navbar-nav .nav-item {
    display: block;
  }

  /* Navbar toggler */
  .navbar-toggler {
    display: block;
  }

  /* Navbar collapse */
  .collapse.navbar-collapse {
    display: none;
  }

  .collapse.navbar-collapse.show {
    display: block;
  }

  .navbar-collapse {
    margin-top: 20px;
  }

  /* Hamburger menu */
  #toggler,
  label {
    display: block;
  }

  /* Kontak bagian */
  .contact,
  .company-info {
    width: 100%;
  }

  /* Company Information */
  .wrapper {
    display: block;
  }

  .wrapper > * {
    padding: 1em;
  }

  /* Footer */
  .footer {
    margin-top: 50px;
  }

  .wave {
    display: none;
  }
}
